@media (max-width: 700px){
    .navmenu i{
        display: block;
        cursor: pointer;
    }
    .navlinks {
        position: fixed;
        top: 80px;
        bottom: 0;
        background: #252525;
        width: 100%;
        left: 0;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        clip-path: circle(0 at center);
        transition: clip-path 1s ease-in-out;
    }
    .navinput:checked + .navlinks{
        clip-path: circle(100% at center);
    }
}

@media (max-width: 460px) {
    .hero h1{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 40px;
    }
    .hero h2{
        font-size: 20px;
    }

}