@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;400;800&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Mukta', sans-serif;
}

html{
  scroll-behavior: smooth;
}

body{
    background: url(/assets/bodybackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(130, 130, 130);
    background-blend-mode: soft-light;
}

li, a{
  text-decoration: none;
  color: #fff;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #252525;
  width: 100%;
  max-width: 100vw;
  height: 85px;
  padding: 5px 10%;
  position: fixed;
  top: 0;
  z-index: 5;
}

.navlinks {
  display: flex;
  list-style: none;
}

.navlinks li{
  padding: 20px;
}

.navlinks li:hover{
  transform: scale(1.1);
  color: #00f7ff;
}

.login-register {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar i {
  color: #00f7ff;
  font-size: 30px;
}

.navbar i:hover{
  transform: scale(1.2);
  cursor: pointer;
}

.navmenu i {
  display: none;
}

.navinput {
  display: none;
}

.accountmenu {
  display: none;
}

.labelaccountmenu i{
  display: none;
}

.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url(/assets/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(130, 130, 130);
  background-blend-mode: soft-light;
  color: #00f7ff;
}

.hero h1 {
  font-size: 100px;
}

.hero h1:hover {
    transform: scale(1.1);
}

.hero .scrolldown{
  text-decoration: none;
}
.hero i{
  margin-top: 40px;
  height: 50px;
  font-size: 50px;
  color: #00f7ff;
  transition: all 0.3s ease 0s;
}
.hero i:hover{
  transform: scale(1.1);
  transition: all 0.3s;
}

.about {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  color: #fff;
  font-size: 20px;
}

.about h2{
  font-size: 1.5em;
}

.about p{
  display: flex;
  font-size: 20px;
  margin: 20px;
  line-height: 30px;
  max-width: 800px;
}

.about h2{
  margin: 20px;
  margin-top: 60px;
  color: #00f7ff;
  line-height: 100px;
}

.about .scrolldown{
  text-decoration: none;
}

.about i{
  margin: 80px 0;
  height: 50px;
  font-size: 50px;
  color: #00f7ff;
  transition: all 0.3s ease 0s;
}
.about i:hover{
  transform: scale(1.1);
  transition: all 0.3s;
}

#facebook:hover {
  color: blue;
}

#wp:hover{
  color: green;
}
.about ul li{
  list-style: none;
}

.about ul li i{
  color: #fff;
}

.service {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.service h2{
  font-size: 3em;
  color: #00f7ff;
  margin: 80px 0;
  text-align: center;
}

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 8%;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}

.gallery img {
  width: 100%;
  height: 80%;
}

.gallery img:hover {
  transform: scale(1.1);
}